* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;

}

#main {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.259);
}

#back {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 255, 255, 0.154);
}

#back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#top {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#info-area {
    width: 80%;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 15px;
}

#nav img {
    pointer-events: all;
    height: 13vh;
   
}


.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 50px;

}

#nav a {
    pointer-events: all;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
}
#nav a:hover{
}

#hero {
    position: absolute;
    top: 55%;
    left: 0;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#hero-left {
    min-width: 50%;
}

#hero-left .elem {
    position: relative;
    height: 8.5vw;
    overflow: hidden;
}

#hero-left .elem h1:nth-child(1) {
    top: 0;
}

#hero-left .elem h1 {
    position: absolute;
    top: 100%;
    left: 0%;
    line-height: 0.93;
    font-family: kajiro;
    font-weight: 100;
    color: #fff;
    font-size: 10.5vw;
}

#hero-left button {
    pointer-events: all;
    padding: .5vw 2vw;
    font-size: 3vw;
    font-family: kajiro;
    margin-top: 1vw;


}

#hero-left button:hover {
    background: linear-gradient(rgb(255, 27, 27), rgb(255, 166, 0));

}

#hero-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 18%;
    color: #fff;
}

#hero-right p {
    text-align: right;
    font-size: 12px;
    font-weight: 400;
}

#hero-right #image-div {
    width: 100%;
    height: 125px;
    background-image: url("https://media.istockphoto.com/id/1285766751/photo/colorful-portrait-of-african-american-man-wearing-wireless-earphones-green-on-orange.jpg?s=1024x1024&w=is&k=20&c=YwV48qWohvoScNLVhROSBDrjhYZJPNPnacRaO7xQjvM=");
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 20px;

}

#hero-right p:nth-child(4) {
    margin-top: 60px;
}